:root {
  --body-clr: #131022;
  --white: #fff;
  --main-clr: #b9edbe;
  --text-clr: #325051;
  --blue-clr: #005fed;
  --blue-clr-hvr: #1e78ff;
}

* {
  box-sizing: border-box;
  font-family: 'Dangrek', cursive;
  letter-spacing: 2px;
  font-weight: bold;
}

body {
  background-color: var(--body-clr);
}

main {
  width: 95%;
  max-width: 25rem;
  min-height: 22rem;
  background-color: var(--main-clr);
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 2rem;
}

.score {
  font-size: 1.5rem;
  color: var(--text-clr);
}

.question {
  color: var(--text-clr);
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
}

form input {
  padding: 0.5rem 2.5rem;
  margin: 1rem auto;
  width: 100%;
  font-size: 2rem;
  color: var(--text-clr);
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

form input::placeholder {
  color: #a5a5a5;
  font-size: 0.7em;
}

form input:focus {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

form button {
  padding: 0.5em 1em 0.3em;
  font-size: 1.3rem;
  border-radius: 5rem;
  border: none;
  background-color: var(--blue-clr);
  color: var(--white);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
form button:hover {
  background-color: var(--blue-clr-hvr);
}
form button:active {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.07);
  margin-top: 2px;
}

/* disable scroll */
/* Chrome, Safari, Edge, Opera */
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
form input[type='number'] {
  -moz-appearance: textfield;
}
